* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      background-color: #e5e5e5;
      font-family: 'Arial';

}

.wrapper {
      position: relative;
      width: 661px;
      min-height: 763px;
      height: auto;
      background-color: #c4c4c4;
      margin: 0px auto;
      margin-top: 50px;
      padding-bottom: 50px;
}

.content {
      position: relative;
      width: 500px;
      height: auto;
      margin: 0px auto;
      padding-top: 62px;
}

.divInput {
      position: relative;
}

.input {
      padding-left: 10px;
      width: 500px;
      height: 60px;
      font-size: 30px;
      outline: none;
      border: none;
}

.items {
      position: absolute;
      width: 500px;
      z-index: 1;
}

.dropdownMenu {
      background-color: #e3e3e3;
      border: 1px solid grey;
      list-style-type: none;
      height: 44px;
      font-size: 25px;
      padding-top: 5px;
      padding-left: 10px;
}

.dropdownMenu:hover {
      background-color: #65cdf9;
}

.users {
      width: 500px;
      top: 337px;
}

.users_item {
      vertical-align: middle;
      width: 500px;
      background-color: #e27beb;
      border: 1px solid black;
      font-size: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
}

.delete-button {
      position: absolute;
      background-image: url("./img/cross.png");
      background-position: center;
      background-size: contain;
      background-color: #e27beb;
      height: 80px;
      width: 80px;
      right: 20px;
      background-repeat: no-repeat;
      border: none;
      transform: translateY(-85px);
      z-index: 0;
}
    